* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 30px;
    margin-bottom: 5px;
}
.banner {
    background-image: url(images/banner.jpg);
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(255, 255, 255);
    text-align: center;
}

.banner_content {
    padding-top: 280px;
}

.banner_button {
    margin-top: 25px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.banner_button:hover {
    background-color:green;
    color:white
}

.donation {
    text-align: center;
    margin-top: 5%;
}

.donate-amount {
    display: flex;
    justify-content: center;
    margin: 20px
}

.amount {
    background-color: rgb(109, 109, 238);
    padding: 10px;
    margin-right: 10px;
    color: white;
    border: 2px black solid;
    cursor: pointer;
}

.active {
    background-color: green;
    color:beige;
}

#input-amount {
    width: 40%;
    border: none;
    border-bottom: 1px blueviolet solid;
}

.amount-button {
    color:white;
    background-color: rgb(223, 86, 32);
    border: 2px rebeccapurple solid;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

}

footer {
    padding: 30px;
    background-color: rgb(69, 142, 226);
    text-align: center;
    margin-top: 30px;
}

.donation-plan {
    text-align: center;
    margin-top: 5%;
}

.flex-containner {
    display: flex;
    justify-content: center;
    margin-right: 30px;
    align-items: center;
    margin-top: 20px;
}

.plan {
    border: 2px coral solid;
    margin-right: 15px;
    padding: 15px;
    background-color: rgb(206, 241, 230);
    height: auto;
}

.gallery {
    text-align: center;
    margin-top: 5%;
}

.gallery-row {
    display: flex;
}

.gallery-row img {
    width: 23%;
    padding: 5px;
    margin: 5px;
}